@font-face {
    font-family: 'TT Lakes';
    src: url(../font/TTLakes-Regular.woff) format('woff');
}

@font-face {
    font-family: 'TT lakes DemiBold';
    src: url('../font/TTLakes-DemiBold.woff') format('woff');
}

@font-face {
    font-family: 'TT Lakes Bold';
    src: url('../font/TTLakes-Bold.woff') format('woff');
}